html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
  background-color: #ecf1fe;
}
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
textarea,
button {
  padding: 0;
  margin: 0;
  font-family: Arial, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "WenQuanYi Micro Hei", sans-serif;
  font-size: inherit;
}
img {
  border: none;
}
ul,
ol,
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
img {
  max-width: 100%;
}
* {
  box-sizing: border-box;
}

/*公共方法*/
.clear::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
.header {
  .top {
    height: 183px;
    background: url("../images/header-bg.png") no-repeat center;
    background-size: cover;
    .logo {
      display: inline-block;
      padding-top: 63px;
      padding-left: 38px;
    }
    .right {
      position: absolute;
      top: 50px;
      right: 0;
      .home {
        font-size: 12px;
        font-weight: 400;
        color: rgba(60, 63, 64, 1);
        line-height: 17px;
        text-align: right;
        display: block;
        margin-bottom: 7px;
      }
      form {
        font-size: 0;
      }
      .searchValue {
        background: #ecf1fe;
        border: none;
        height: 36px;
        width: 209px;
        display: inline-block;
        vertical-align: top;
        font-size: 14px;
        padding: 6px;
      }
      .fa-search {
        width: 36px;
        height: 36px;
        background-color: rgba(216, 216, 216, 1);
        display: inline-block;
        vertical-align: top;
        background-image: url("../images/search.png");
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  .nav {
    height: 48px;
    background: rgba(16, 107, 186, 1);
    ul {
      font-size: 0;
      > li {
        display: inline-block;
        text-align: center;
        width: 150px;
        > a {
          font-size: 14px;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          line-height: 48px;
          letter-spacing: 2px;
        }
      }
    }
  }
}
